.company-and-directors-section {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

.company-directors-search-area {
  max-width: 100% !important;
  margin-bottom: 30px;
}
.company-directors-search-area .country-select {
  color: #989898;
  width: 245px;
}
.country-select-area .select-arrow-down {
  right: 10px;
}
.company-directors-search-area .search-field {
  width: 344px;
}

.company-directors-table thead tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
  padding: 12px 20px !important;
  background-color: #eef0fc;
  border-right: 1px solid #e0e0e0;
  text-align: center;
}
.company-directors-table thead tr th:first-child {
  width: 50px;
}
.company-directors-table thead tr th:nth-child(2) {
  width: 428px;
}
.company-directors-table thead tr th:nth-child(3) {
  width: 249px;
}
.company-directors-table thead tr th:nth-child(4) {
  width: 149px;
}
.company-directors-table thead tr th:last-child {
  width: 99px;
}
.company-directors-table thead tr th:last-child {
  border-right: none;
}
.company-directors-table thead tr th:nth-child(2) {
  text-align: start;
}
.comp-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--primary-text-color);
}
.company-directors-table tbody tr td {
  height: 45px;
  align-content: center;
  background-color: white;
  text-align: -webkit-center;
  border-right: 1px solid #e0e0e0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
  border-bottom: unset;
  border-top: 1px solid #e0e0e0;
}
.company-directors-table tbody tr td:last-child {
  border-right: none;
}
.company-directors-table tbody tr td:nth-child(2) {
  padding: 0 0 0 28px;
  text-align: start;
}
.company-directors-table tbody tr:nth-child(even) td {
  background-color: #f5f5f5;
}
.table-checkbox-square {
  width: 18px;
  height: 18px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #7c59ff;
  cursor: pointer;
}
.table-checkbox-square i {
  opacity: 0;
}
.table-checkbox:checked + .table-checkbox-square {
  border-color: #7c59ff;
}
.table-checkbox:checked + .table-checkbox-square i {
  opacity: 1;
}
.table-na-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10.5px;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: 4px solid #7c59ff;
}

#comp-director-table_wrapper .dt-layout-cell.dt-layout-full {
  border-radius: 15px !important;
  overflow: hidden !important;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
}

.company-directors-table-area {
  min-height: 442px;
  height: auto;
}


.country-select-area {
  width: 250px;
}
.country-select-area .select2.select2-container {
  width: 100% !important;  
}
.country-select-area .select2-selection {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  height: auto;
}
.country-select-area .select2-selection .select2-selection__rendered {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-text-color);
  padding: 15px 10px 15px 20px;
}
.country-select-area .select2-selection__arrow {
  display: none;
}