.dashboard-section {
  padding: 50px 0 50px;
}
.dashboard-main-area {
  background: #ffffff;
  border-bottom: 4px solid #7c59ff;
  border-radius: 15px;
  padding: 23px 20px 27px 18px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  margin-bottom: 30px;
}
.pro-select-area {
  width: 239px;
  height: 70px;
  background: #eef0fc;
  border-radius: 50px;
  padding: 10px 10px;
  align-content: center;
}
.brder-right {
  border-right: 2px solid #e0e0e0;
}
.dash-top-left {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dash-top-left .primary-cta {
  padding: 16px 20px 16px 21px;
}
.select-user-cat,
.smart-box-result-name,
.comp-sm-title,
.comp-sm-para {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--primary-text-color);
}
.select-country-name,
.smart-box-result-count {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-text-color);
}
.selected-country-list {
  margin: 23px 20px 0 0;
  max-height: 210px;
  overflow: auto;
}
.selected-country-list-item {
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 23px;
  gap: 20px;
}
.middle-line {
  max-width: 340px;
  width: 100%;
  opacity: 1;
  border-top: 2px solid #e0e0e0;
  margin: 0;
}
.selected-country-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.selected-country-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */
.selected-country-list::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

/* Handle on hover */
.selected-country-list::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}
.selected-country-list .selected-country-list-item:last-child {
  margin-bottom: 0;
}
.country-img {
  width: 75px;
  height: 54px;
  box-shadow: 0px 0px 5px 0px #0000002b;
}
.dashboard-map {
  height: 340px;
  width: 100%;
}

.jvm-zoom-btn {
  display: none;
}

.dashboard-sm-box {
  height: 250px;
  background: #ffffff;
  border-bottom: 4px solid var(--border-bottom-color);
  border-radius: 15px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.05));
  padding: 20px 20px;
}
.dash-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.dash-box-top-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.updates-list,
.search-list {
  height: 85%;
  overflow: auto;
}

.updates-list::-webkit-scrollbar,
.search-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.updates-list::-webkit-scrollbar-track,
.search-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */
.updates-list::-webkit-scrollbar-thumb,
.search-list::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

/* Handle on hover */
.updates-list::-webkit-scrollbar-thumb:hover,
.search-list::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}
.smart-box-result-list {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smart-box-result-list-item {
  width: 105px;
  background: #eef0fc;
  border-radius: 15px;
  padding: 11px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.comp-sm-title,
.comp-sm-para {
  line-height: 20px;
}
