* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf");
  font-weight: 400;
}

:root {
  --roboto-font-family: "Roboto";
  --primary-text-color: #343434;
  --primary-btn-color: #ffc65a;
  --secondary-btn-color: #bcd4ff;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--roboto-font-family);
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary-text-color);
}

html {
  font-size: 10px;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
    width: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  background-color: #f5f5f5;
  min-height: calc(100vh - 112px);
}

.mb-10px {
  margin-bottom: 10px;
}

.pl-14px {
  padding-left: 14px;
}

.fw-regular {
  font-weight: 400 !important;
}

.mb-10px {
  margin-bottom: 10px;
}

.w-auto {
  width: auto;
}

.text-webkit-right {
  text-align: -webkit-right;
}

strong {
  font-weight: 700;
}

.primary-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: var(--primary-text-color);
  width: 135px;
  background: var(--primary-btn-color);
  border-radius: 50px;
  padding: 16px 10px;
  border: none;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.03));
  transition: all 0.4s;
  cursor: pointer;
}

.primary-btn:hover {
  box-shadow: inset 0 0 10px 1px #000000a6;
}

.primary-btn.btn-2 {
  background-color: var(--secondary-btn-color);
}

.primary-cta {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  color: var(--primary-text-color);
  display: inline-block;
  padding: 16px 10px 16px 10px;
  background: #9ef7ce;
  border-radius: 50px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.03));
  width: 180px;
}

.sm-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-text-color);
}

.chart-coutry-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
}

.chart-coutry-buyers {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--primary-text-color);
}

.view-all-cta {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: #898989;
  text-decoration: none;
  display: inline-block;
}

.sm-para {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: var(--primary-text-color);
}

.sm-title strong {
  font-weight: 700;
  font-size: 1.5rem;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 23px;
  color: var(--primary-text-color);
}

.home-search-left {
  padding: 10px 10px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  max-width: 778px;
  width: 100%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.03));
}

.search-field,
.tags-input-wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  color: #989898;
  width: 408px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 5px 20px;
  outline: none;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.03));
  min-height: 50px;
}

.search-field::placeholder {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  color: #989898;
}

.tags-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.tags-input-container .tag {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  margin: 0;
  height: 25px;
  background: #eef0fc;
  border-radius: 50px;
}

.tags-input-container .tag span {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
  color: #898989;
}

.tags-input-container .tag .remove-tag {
  cursor: pointer;
  font-size: 1.6rem;
  color: #ff0000;
}

.tag-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 0;
  min-width: 100px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  color: #989898;
}

.search-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #7c59ff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-search-main-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.search-radio:checked + label.primary-btn {
  box-shadow: inset 0 0 10px 1px #000000a6;
  font-weight: 700;
}

.country-select,
.profile-select {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-text-color);
  padding: 15px 10px 15px 20px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  cursor: pointer;
}

.country-select option,
.profile-select option {
  background-color: var(--primary-text-color);
  color: white;
}

.country-select.form-select:focus,
.profile-select.form-select:focus {
  border-color: #e0e0e0;
  outline: 0;
  box-shadow: none;
}

.select-arrow-down {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #898989;
  font-size: 1.2rem;
}

.table-tag {
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  text-align: center;
  color: var(--primary-text-color);
  display: inline-block;
  width: 67.5px;
  height: 25px;
  background: var(--bg-color);
  border-radius: 50px;
  align-content: center;
}

.section-title-area {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

#comp-director-table_wrapper .dt-length,
#comp-director-table_wrapper .dt-search,
#comp-director-table_wrapper .dt-column-order,
#comp-director-table_wrapper .dt-info,
#shipment-detail-table_wrapper .dt-length,
#shipment-detail-table_wrapper .dt-search,
#shipment-detail-table_wrapper .dt-column-order,
#shipment-detail-table_wrapper .dt-info,
#profile-views-table_wrapper .dt-length,
#profile-views-table_wrapper .dt-search,
#profile-views-table_wrapper .dt-info {
  display: none;
}

.gap-10px {
  gap: 10px;
}

/* table pagination css start */

div.dt-container .dt-paging .dt-paging-button.next,
div.dt-container .dt-paging .dt-paging-button.previous {
  font-size: 1.5rem;
  color: #898989 !important;
  font-style: normal;
  font-weight: 500;
  width: 32px;
  height: 32px;
  background: #ffffff !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px !important;
  padding: 0 !important;
  margin-left: 0 !important;
  min-width: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled {
  background-color: #e0e0e0;
  opacity: 50%;
}

div.dt-container .dt-paging .dt-paging-button.current {
  border-color: #7c59ff !important;
  color: #7c59ff !important;
}

div.dt-container .dt-paging .dt-paging-button {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: var(--primary-text-color) !important;
  width: 32px;
  height: 32px;
  background: #ffffff !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px !important;
  padding: 0 !important;
  margin-left: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  color: var(--primary-text-color) !important;
}

body .dt-paging-button:hover {
  color: var(--primary-text-color) !important;
}

#comp-director-table_wrapper .dt-paging nav,
#shipment-detail-table_wrapper .dt-paging nav,
#profile-views-table_wrapper .dt-paging nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

/* table pagination css end */

.table-bg-absolute-img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  z-index: -1;
}

.sec-sb-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18px;
  color: var(--primary-text-color);
}

.sm-primary-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
  padding: 6px 10px;
  background-color: #ffc65a;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.sm-primary-btn:hover {
  box-shadow: inset 0px 0px 10px 0px #0000005e;
}
.sm-primary-btn.btn-2 {
  background-color: #bcd4ff;
}
.section-title-area .breadcrumb-item a,
.section-title-area .breadcrumb-item,
.company-detail-box .breadcrumb .breadcrumb-item a,
.company-detail-box .breadcrumb .breadcrumb-item {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: #7c59ff;
}
.trade-analysis-filter-area,
.profile-views-filter-area,
.company-profile-filter-area {
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 18px;
}
.sm-btn,
.pro-filter-select,
.pro-filter-search,
.com-country-select {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  background-color: #9ef7ce;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  outline: none;
}
.pro-filter-search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
}
.filter-btns-right-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.filter-btn {
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--primary-text-color);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

/* filter css start */

.currency-filter-list {
  padding: 15px 10px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 15px 0 #0000001c;
  border-radius: 15px;
  position: absolute;
  top: 35px;
  z-index: 1111;
  left: 0;
  opacity: 0;
}

.currency-radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.currency-filter-list .currency-filter-list-item:last-child {
  margin-bottom: 0;
}

.currency-filter-list-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.currency-sm-radio-area {
  background-color: white;
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.currency-sm-radio-area::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
}

.curr-filter-sm-label {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-text-color);
  cursor: pointer;
  width: 70px;
  text-align: center;
  background-color: transparent;
  height: 30px;
  align-content: center;
}

.inner-curr-radio:checked + .curr-filter-sm-label {
  background-color: #7c59ff;
  color: white;
}

.inner-curr-radio:disabled + .curr-filter-sm-label {
  cursor: not-allowed;
  background-color: gray;
  color: white;
}

.filter-btns-left-list-item .select2.select2-container {
  width: 90px !important;
}
.filter-btns-left-list-item
  .select2-container--default
  .select2-selection--single {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.filter-btns-left-list-item
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder,
.select2-results__option.select2-results__option--selectable {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: var(--primary-text-color);
}
/* filter css end */

.form-select.pro-filter-select,
.com-country-select {
  --bs-form-select-bg-img: url("../images/arrow-down.png");
  background-size: unset;
}
.form-select.pro-filter-select:focus,
.com-country-select:focus {
  border-color: #e0e0e0;
  outline: 0;
  box-shadow: none;
}
