.profile-views-section {
  padding: 50px 0;
}
.w-140px {
  width: 140px;
}
.w-101px {
  width: 101px;
}
.pro-filter-search {
  padding: 6px 10px 5px 30px;
}
.pro-filter-search-area {
  position: relative;
}
.pro-filter-search-area .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #898989;
  font-size: 1.6rem;
}
.profile-views-left-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-views-table-area {
  margin: 30px 0;
}


div.dt-container div.dt-layout-row {
  margin: 0 !important;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: none !important;
}
#profile-views-table_wrapper .dt-paging {
  margin-top: 10px;
}

.pro-table tbody tr td:first-child,
.pro-table tbody tr td:last-child,
.pro-table tbody tr td:nth-child(6) {
  text-align: center !important;
}
.pro-table thead tr th:first-child,
.pro-table thead tr th:last-child,
.pro-table thead tr th:nth-child(6) {
  text-align: center !important;
}
.pro-table tbody tr:nth-child(even) td {
  background-color: #f5f5f5;
}
.comp-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 14px;
  color: var(--primary-text-color);
  transition: all 0.3s ease-in-out;
}
.comp-name:hover {
  color: #7c59ff;
}
.table-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.table-btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
  content: url("../images/table-arrow-up.png") !important;
  opacity: 1 !important;
  top: 10px !important;
}
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  content: url("../images/table-arrow-down.png") !important;
  opacity: 1 !important;
  font-size: unset !important;
  line-height: normal !important;
  bottom: 10px !important;
}
table.dataTable thead > tr > th.dt-orderable-asc:hover,
table.dataTable thead > tr > th.dt-orderable-desc:hover,
table.dataTable thead > tr > td.dt-orderable-asc:hover,
table.dataTable thead > tr > td.dt-orderable-desc:hover {
  outline: none;
  outline-offset: 0px;
}
.dt-column-order {
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: unset !important;
  height: 100% !important;
}
.pro-table-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
